:root {
  --text1: #D9D9D9;
  --text2: #3C4852;
  --text3: #BEBEBE;
  --text4: #FFFFFF;
  --alert-text: #DE4313;
  --disable: #E7E7E7;
  --success1: #47BA68;
  --success2: #D7EDDD;
  --danger1: #F77171;
  --danger2: #FF0000;
  --primary1: rgba(0, 150, 255, 1);
  --primary2: rgba(0, 72, 255, 1);
  --black: #000000;
  --white: #FFFFFF;
  --nav-button: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);

  --roboto: 'Roboto', 'san-serif';
}